.subnav, .subnav .bp3-navbar-group {
    height: 30px !important;
}

.subnav {
    background-color: #EBF1F5 !important;
}

.bp3-dark .subnav {
    background-color: #30404D !important;
}

.subnav .bp3-navbar-group {
}

.app-container {
    height: calc(100% - (50px));
}